body{
    margin: auto;
    text-align: center;
}
h1{ 
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    top: 100px;
    font-size: 5.625rem  ;
    color: #66BFBF;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: #66BFBF;
    font-weight: normal;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color :#11999E ;
}

hr{
    border: #EAF6F6 dotted 6px;
    border-bottom: none ;
    width: 4%;
    margin: 0 auto 0 auto;
}
.dot{
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: grey;
    
}
.intro{
    font-size: 1.7rem;
    padding-bottom: 20px;
}
.red {
    padding: 100px;
    position: relative;
    background-color:  #EAF6F6;
}
.mount{
    position: absolute;
    bottom: 1000;
}
.bot_cloud{
   position: absolute;
   height: 55px;
}
.top_cloud{
   position: absolute;
   top: 50px;
   right: 250px;
   height: 65px;
   width: 170px;
}
.My-Photo{
    width: 25%;
}
.Monitor{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.Stack{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.skill-row{
    margin: 100px auto 100px auto;
    width: 50%;
    text-align: left;
    font-size: 1.5rem;
}
.bottom-container{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:  #11999E;
    line-height: 2;
}
.raj
{
    color:  #EAF6F6;
}
.contact-me{
    margin: 0 auto 70px 0;
}
.outro{
    font-family: 'Merriweather', serif;
    font-size: .9rem;
    line-height: 2;
}
.butt{
    padding: 10px 10px 10px 10px;
    background-color: rgb(101, 191, 191);
    border: none;
    font-family: 'Merriweather', serif;
    border-radius: 5px;
}
.btn{
    font-size: large;
    color: white;
    text-decoration: none;
}